<div class="container box">
  <h1>lemme help you with that</h1>

  <div class="question" id="q1">
    <h3>is this a medical problem?</h3>
    <div class="selection">
      <p class="yes-no" id="yes-1">Y</p>
      <p class="yes-no" id="no-1">N</p>
    </div>
  </div>

  <div class="question" id="q2">
    <h3>is this about a legal issue?</h3>
    <div class="selection">
      <p class="yes-no" id="yes-2">Y</p>
      <p class="yes-no" id="no-2">N</p>
    </div>
  </div>

  <div class="question" id="q3">
    <h3>have you attempted to fix or find a solution?</h3>
    <div class="selection">
      <p class="yes-no" id="yes-3">Y</p>
      <p class="yes-no" id="no-3">N</p>
    </div>
  </div>

  <div class="question" id="q4">
    <h3>is this about your heart/lungs?</h3>
    <div class="selection">
      <p class="yes-no" id="yes-4">Y</p>
      <p class="yes-no" id="no-4">N</p>
    </div>
  </div>

  <div class="response" id="1">
    <h3>i think what you're looking for is a doctor.</h3>
  </div>

  <div class="response" id="2">
    <h3>you should probably talk to a lawyer about that.</h3>
  </div>

  <div class="response" id="3">
    <h3>let me Google that for you.</h3>
  </div>

  <div class="response" id="4">
    <h3>girl you cray.</h3>
  </div>

  <div class="response" id="ask-again">
    <%= image_tag "http://25.media.tumblr.com/a9a0d2a3c566217e2bd53ca12dcdc693/tumblr_n1bzl6gDV01rby04wo1_250.gif", :class => "reset" %>
  </div>

  <p class="reset">ask again</p>
</div>